<!-- Views/Randomizer/RandomNumber.cshtml -->
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Random Number</title>
</head>
<body>
<h2>Random Number</h2>
@if (ViewBag.RandomNumber != null)
{
    <div>The random number is: @ViewBag.RandomNumber</div>
}
else
{
    <div>Please provide both start and end numbers.</div>
}
</body>
</html>