<div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 80vh; flex-direction: column; gap: 40px;">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div>
            <label for="start">Start Number: </label>
            <input type="text" id="start" name="start" required="required" />
            <label for="end">End Number: </label>
            <input type="text" id="end" name="end" required="required" />
            <button type="submit">Generate Random Number</button>
        </div>
    }
    @if (ViewBag.RandomNumber != null)
    {
        <h1>The random number is: @ViewBag.RandomNumber</h1>
    }
</div>